<div class="auth-page">
    <div class="auth-left">
        <div class="logo-section">
            <img src="footer/footer-logo-big.svg" alt="Ask A Muslim Logo" width="151" height="69"
                class="logo" />
            <p class="stat-text">
                <span class="stat-number">2,000,000,000+</span> Muslim brothers
                & sisters around the world
            </p>
        </div>
    </div>

    <div class="auth-right">
        <router-outlet></router-outlet>
    </div>
</div>
