<div class="saved-answers">
  @for (answer of savedAnswers; track answer; let isLast = $last) {
    <div class="saved-answers__item">
      <div class="saved-answers__body">
        <h3 class="saved-answers__question">{{ answer.question }}</h3>
        <p class="saved-answers__answer">{{ answer.answer }}</p>
      </div>
      <button class="saved-answers__learn-more">
        <span class="saved-answers__learn-more-text">Learn more</span>
        <div class="saved-answers__learn-more-icon">
          <div
            [inlineSVG]="'/icons/icons-24/arrow-right.svg'"
            class="saved-answers__learn-more-svg"
          ></div>
        </div>
      </button>
      @if (!isLast) {
        <div class="saved-answers__divider"></div>
      }
    </div>
  }

  <div class="saved-answers__pagination">
    <app-pagination
      [pages]="pages"
      [currentPage]="currentPage"
      [arrowLeftIcon]="arrowLeftIcon"
      [arrowRightIcon]="arrowRightIcon"
      (prevPage)="prevPage()"
      (nextPage)="nextPage()"
      (goToPage)="goToPage($event)"
    ></app-pagination>
  </div>
</div>
