<div class="space-y-6">
  <div class="bg-(--color-surface-secondary) rounded-lg px-6 py-5 space-y-4">
    <h2>Booking Details</h2>

    <div class="space-y-2">
      <div class="booking-item-row">
        <span class="booking-label">Name:</span>
        <p class="booking-value text-var(--color-text-title)">
          {{ form().get('name')?.value || '-' }}
        </p>
      </div>

      <div class="booking-item-row">
        <span class="booking-label">Email:</span>
        <p class="booking-value text-var(--color-text-title)">
          {{ form().get('email')?.value || '-' }}
        </p>
      </div>

      <div class="booking-item-row">
        <span class="booking-label">Subject:</span>
        <p class="booking-value text-var(--color-text-title)">
          {{ getTopicLabel(form().get('topic')?.value) }}
        </p>
      </div>

      <div class="booking-item-row">
        <span class="booking-label">Duration:</span>
        <p class="booking-value text-var(--color-text-title)">
          {{ form().get('durationMinutes')?.value }} minutes
        </p>
      </div>

      <div class="booking-item-row">
        <span class="booking-label">Languages:</span>
        <div class="flex flex-wrap gap-2">
          <span
            *ngFor="let lang of selectedLanguages()"
            class="booking-value inline-flex items-center px-3 py-1 bg-primary-100 text-primary-700 rounded-full"
          >
            {{ lang.label }}
          </span>
        </div>
      </div>

      <div *ngIf="form().get('scheduledDate')?.value" class="booking-item-row">
        <span class="booking-label">Preferred Date:</span>
        <p class="booking-value text-text-title">
          {{ form().get('scheduledDate')?.value | date: 'fullDate' }}
        </p>
      </div>

      <div *ngIf="form().get('scheduledTime')?.value" class="booking-item-row">
        <span class="booking-label">Preferred Time:</span>
        <p class="booking-value text-text-title">{{ form().get('scheduledTime')?.value }}</p>
      </div>
    </div>
  </div>

  <div class="mt-6 mb-10 bg-(--color-surface-secondary) rounded-lg px-6 py-5 space-y-4">
    <h2>Your Message</h2>
    <p class="mt-6 mb-10 text-(--color-text-title) text-[14px] font-normal">
      {{ form().get('message')?.value }}
    </p>
  </div>

  <div class="flex justify-between">
    <button
      type="button"
      (click)="onBack()"
      class="px-8 py-3 border border-gray-300 text-text-body font-medium rounded-lg hover:bg-gray-50 transition-colors flex items-center gap-2 cursor-pointer"
    >
      <img [src]="leftArrowIcon" alt="Back" />
      Back
    </button>
    <button
      type="button"
      (click)="onSubmit()"
      [disabled]="isSubmitting()"
      class="button disabled:opacity-50 disabled:cursor-not-allowed"
    >
      <span *ngIf="!isSubmitting()">Confirm Booking</span>
      <span *ngIf="isSubmitting()">Submitting...</span>
    </button>
  </div>
</div>
