@import './colors.css';
@import './typography.css';
@import './spacing.css';
@import './borders.css';
@import './shadows.css';
@import './breakpoints.css';

:root {
  /* Start Colors--------------------- */

  /* Main Color and Surface */
  --color-surface-primary: #e8f5e8;
  --color-selected-surface: #156b401a;
  --special-primary: #156b40;
  --special-primary-hovering: #115c36;
  --special-primary-clicked: #0c4e2d;
  --special-primary-6: rgba(21, 107, 64, 0.06);
  --special-primary-10: rgba(21, 107, 64, 0.1);

  /* Secondary Color and Surface */
  --special-secondary: #cda736;
  --special-secondary-6: #cda7360f;
  --special-secondary-10: #cda7361a;
  --color-surface-secondary: #f8f9fa;
  --color-surface-secondary-hover: #fdf9ee;
  --color-selected-surface-secondary: #ecc1401a;
  --color-surface-secondary-2: #e9ecef;

  /* Text Colors */
  --color-text-body: #343a40;
  --color-text-caption: #6c757d;
  --color-text-placeholder: #adb5bd;
  --color-text-title: #010d05;
  --color-text-info: #2196f3;

  /* Borders Colors */
  --color-border-default: #bbd1c2;
  --color-border-medium: #8fb39b;
  --color-error: #ef4444;

  /* End Colors ---------------------*/

  /* Typography --------------------- */
  --font-family-base: 'Roboto', sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;

  /* Spacing --------------------- */
  --spacing-unit: 8px;

  /* Borders --------------------- */
  --border-radius-default: 8px;

  /* Shadows --------------------- */
  --shadow-base: var(--shadows-shadow-md);
}
