<div class="custom-select" [class.error]="error()">
  <button type="button" class="select-trigger" (click)="toggle()">
    <span class="truncate" [class.placeholder]="!selectedLabel()">
      {{ selectedLabel() || placeholder() }}
    </span>
    <img [src]="icon()" alt="" class="arrow-icon" [class.open]="open()" />
  </button>
  <ul class="options" *ngIf="open()">
    <li
      *ngFor="let option of options()"
      class="option"
      [class.active]="option.value === value()"
      (click)="onSelect(option)"
    >
      {{ option.label }}
    </li>
  </ul>
</div>
