<div class="chat-list">
  <div class="chat-list__header">
    <h2 class="chat-list__title">Chats ({{ chats.length }})</h2>
  </div>

  <div class="chat-list__items">
    @for (chat of chats; track chat) {
      <div (click)="selectChat(chat)" class="chat-list__item">
        <div [inlineSVG]="'/icons/icons-24/ai-talk.svg'" class="chat-list__item-icon"></div>
        <div class="chat-list__item-content">
          <div class="chat-list__item-top">
            <h2 class="chat-list__item-name">{{ chat.name }}</h2>
            <div
              [inlineSVG]="'/icons/icons-24/go-for-more.svg'"
              class="chat-list__item-go-icon"
            ></div>
          </div>
          <p class="chat-list__item-meta">Last response: {{ chat.timestamp }}</p>
        </div>
      </div>
    }
  </div>
</div>
