<div class="edit-form">
  <div class="edit-form__header">
    <h2 class="edit-form__title">Edit Personal Information</h2>
    <div [inlineSVG]="'/icons/icons-24/user-edit.svg'" class="edit-form__icon"></div>
  </div>

  <div class="edit-form__fields">
    <div class="edit-form__field">
      <label class="edit-form__label" for="name">Name</label>
      <input id="name" type="text" [(ngModel)]="name" class="edit-form__input" />
    </div>

    <div class="edit-form__field">
      <label class="edit-form__label">Gender</label>
      <app-select-dropdown
        [options]="genderOptions"
        [value]="gender"
        [placeholder]="'Select Gender'"
        (select)="onGenderSelect($event)"
      ></app-select-dropdown>
    </div>

    <div class="edit-form__field">
      <label class="edit-form__label" for="dateOfBirth">Date of Birth</label>
      <input id="dateOfBirth" type="date" [(ngModel)]="dateOfBirth" class="edit-form__input" />
    </div>

    <div class="edit-form__field">
      <label class="edit-form__label" for="languages">Languages Speaks</label>
      <app-chips-multiselect id="languages"
        [options]="languageOptions"
        [selected]="selectedLanguages"
        [placeholder]="'Select languages'"
        (add)="onLanguageAdd($event)"
        (remove)="onLanguageRemove($event)"
      ></app-chips-multiselect>
    </div>
  </div>

  <div class="edit-form__actions">
    <button (click)="onCancel()" class="edit-form__btn edit-form__btn--cancel">Cancel</button>
    <button (click)="onSave()" class="edit-form__btn edit-form__btn--save">Save</button>
  </div>
</div>
