<div class="flex w-full flex-1 flex-col justify-center gap-8 lg:gap-10">
  <div class="flex flex-col items-start gap-6 w-full">
    <div class="flex flex-col md:flex-row items-start md:items-center gap-4 w-full">
      <div
        class="flex w-full h-16 sm:h-14 min-w-0 flex-1 items-center gap-2 rounded-lg border-[1.5px] border-(--color-text-placeholder) bg-white px-4 sm:px-6"
        >
        <img src="/icons/icons-24/search.svg" alt="search icon" class="h-5 w-5 object-contain" />
        <input
          type="text"
          id="ask-qa-search"
          name="askQaSearch"
          placeholder="Write your question here .."
          class="min-w-0 flex-1 border-none text-base leading-[160%] focus:ring-0"
          [(ngModel)]="searchQuery"
          (keyup.enter)="onSearch()"
          />
        </div>

        <button
          type="button"
          class="button flex h-16 sm:h-14 w-full items-center justify-center rounded-lg px-8 md:w-auto"
          (click)="onSearch()"
          >
          <span class="text-lg font-semibold text-white">Search</span>
        </button>
      </div>

      <div class="category-scroll flex w-full flex-nowrap items-center gap-2 overflow-x-auto">
          @for (category of categories; track $index; let i = $index) {
          <button
            (click)="selectCategory(i)"
            [ngClass]="selectedCategory === i ? 'secondary-button' : 'text-text-body'"
            class="flex shrink-0 items-center gap-3 rounded-lg border-b-3 border-transparent px-6 py-3 transition-colors capitalize cursor-pointer"
            >
            <span class="text-lg font-medium">{{ category }}</span>
          </button>
        }
      </div>
    </div>

    @if (isShowingResults) {
      <app-question-search-result
        class="w-full"
        [query]="searchQuery"
        [results]="searchResults"
        (clearSearch)="clearSearch()"
        />
      } @else {
        <ng-container>
          <div class="flex flex-col items-start gap-6 w-full">
            @for (question of filteredQuestions; track trackByQuestionId($index, question); let isLast = $last) {
              <app-qa-card [question]="question" />
              @if (!isLast) {
                <div class="w-full h-[1.5px] bg-border-brand"></div>
              }
            }
          </div>
          <app-pagination
            [pages]="pages"
            [currentPage]="currentPage"
            [arrowLeftIcon]="arrowLeftIcon"
            [arrowRightIcon]="arrowRightIcon"
            (prevPage)="prevPage()"
            (nextPage)="nextPage()"
            (goToPage)="goToPage($event)"
          ></app-pagination>
        </ng-container>
      }

    </div>
