<div
  class="flex flex-wrap items-center justify-center gap-1 rounded border-0 border-gray-300 sm:flex-nowrap"
  >
  <button
    type="button"
    (click)="onPrevPage()"
    class="flex h-10 w-10 items-center justify-center gap-2 rounded-lg cursor-pointer"
    >
    <div
      [inlineSVG]="arrowLeftIcon"
      [ngClass]="
        currentPage === 1
          ? '[&_path]:stroke-(--color-text-placeholder)'
          : '[&_path]:stroke-(--color-text-body)'
      "
      class="h-6 w-6"
    ></div>
  </button>

  @for (page of pages; track $index) {
    <button
      type="button"
      (click)="onGoToPage(page)"
    [ngClass]="
      page === currentPage
        ? 'bg-(--color-card-surface-primary) border-(--color-button-primary-normal) text-(--color-button-primary-normal)'
        : 'text-text-title'
    "
      class="flex h-10 w-10 items-center justify-center gap-2 rounded-lg border-2 border-transparent cursor-pointer"
      >
      <span class="text-sm font-medium">{{ page }}</span>
    </button>
  }

  <button
    type="button"
    (click)="onNextPage()"
    class="flex h-10 w-10 items-center justify-center gap-2 rounded-lg cursor-pointer"
    >
    <div
      [inlineSVG]="arrowRightIcon"
      [ngClass]="
        currentPage === pages[pages.length - 1]
          ? '[&_path]:stroke-(--color-text-placeholder)'
          : '[&_path]:stroke-(--color-text-body)'
      "
      class="h-6 w-6"
    ></div>
  </button>
</div>
