<div class="app-pagination">
  <button type="button" (click)="onPrevPage()" class="app-pagination__arrow">
    <div
      [inlineSVG]="arrowLeftIcon"
      [class.app-pagination__arrow-icon--disabled]="currentPage === 1"
      [class.app-pagination__arrow-icon--active]="currentPage !== 1"
      class="app-pagination__arrow-icon"
    ></div>
  </button>

  @for (page of pages; track $index) {
    <button
      type="button"
      (click)="onGoToPage(page)"
      class="app-pagination__page"
      [class.app-pagination__page--active]="page === currentPage"
    >
      <span class="app-pagination__page-text">{{ page }}</span>
    </button>
  }

  <button type="button" (click)="onNextPage()" class="app-pagination__arrow">
    <div
      [inlineSVG]="arrowRightIcon"
      [class.app-pagination__arrow-icon--disabled]="currentPage === pages[pages.length - 1]"
      [class.app-pagination__arrow-icon--active]="currentPage !== pages[pages.length - 1]"
      class="app-pagination__arrow-icon"
    ></div>
  </button>
</div>
